<% content_for :header do %>
    <h1> <%= @label.name %> of <%= @label.batch.name %></h1>
    <h3><%= @label.description %>(<%= @label.qrtags.count / Qrcode.all.count %> Labels)</h3>
    <%= link_to "Edit this label", edit_label_path(@label) %> |
    <%= button_to "Destroy this label", @label, method: :delete %>
<% end %>
  
<main>
  <section>
  <H2></H2>
  <p><%= link_to "search", label_search_path(@label) %> </p>
  <p><%= link_to "download (CSV)", label_qrtags_path(@label, format: :csv) %> </p>
</section>

  <section>
    <H2>Links</H2>
    <% if @qrlinks.empty? %>
      <%= link_to "Default links", label_default_qrlinks_path(@label) %>
    <% else %>
      <%= link_to "Reset links", label_reset_qrlinks_path(@label) %>
      <ul id="links">
        <% @qrlinks.each do |qrlink| %>
            <li>
              <%= link_to "#{qrlink.qrcode.code}: ", qrlink %>
              <%= qrlink.url %>
              <%= qrlink.created_at %>
              <%= button_to "Destroy this qrlink", qrlink, method: :delete %>

            </li>
        <% end %>
      </ul>
      <%= link_to "New links", new_label_qrlink_path(@label) %>

      <%= form_tag label_claim_path(@label), method: :get do %>
      <div>
        <%= text_field_tag(:tag, params[:tag], class: "form-input") %>
        <%= submit_tag("claim", name: nil) %>
      </div>
    <% end %>
    
    <% end %>
      
  </section>
  
  <section>
    <H2>Batch QR Links</H2>
    <div class="flex flex-col space-y-4 sm:flex-row sm:justify-left sm:space-y-0 sm:space-x-4">
      <%= form_tag label_qrlinks_batch_path(@label), method: :post do %>
      <div>
        <%= text_area_tag(:to_urls, params[:to_urls], rows: 10, cols: 25, class: "mt-1 block w-full") %>

      </div>  
        <%= submit_tag("Create", name: nil, class: "mt-1 block w-full py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900") %>
      <% end %>
    </div>
  </section>


  <section>
    <%= link_to "Back to batch #{@label.batch.serialnumber}", @label.batch %>
 </section>

          
<main>


