<p style="color: green"><%= notice %></p>

<header>
  <h1>Label <%= @label.code %> of batch <%= @label.batch.serialnumber %></h1>
  <p><%= @label.description %></p>
  <%= link_to "Edit this label", edit_label_path(@label) %> |
  <%= button_to "Destroy this label", @label, method: :delete %>
</header>


<main>
  <section>
  <H2><%= @label.qrtags.load.count %> Tags</H2>
  <p><%= link_to "search", label_search_path(@label) %> </p>
  <p><%= link_to "download (CSV)", label_qrtags_path(@label, format: :csv) %> </p>
</section>

  <section>
    <H2>Links</H2>
    <% if @qrlinks.empty? %>
      <%= link_to "Default links", label_default_qrlinks_path(@label) %>
    <% else %>
      <%= link_to "Reset links", label_reset_qrlinks_path(@label) %>
      <ul id="links">
        <% @qrlinks.each do |qrlink| %>
            <li>
              <%= link_to "#{qrlink.qrcode.code}: ", qrlink %>
              <%= qrlink.url %>
              <%= qrlink.created_at %>
              <%= button_to "Destroy this qrlink", qrlink, method: :delete %>

            </li>
        <% end %>
      </ul>
      <%= link_to "New links", new_label_qrlink_path(@label) %>

      <%= form_tag label_claim_path(@label), method: :get do %>
      <div>
        <%= text_field_tag(:tag, params[:tag]) %>
        <%= submit_tag("claim", name: nil) %>
      </div>
    <% end %>
    
    <% end %>
      
  </section>
  
  <section>
    <H2>Batch QR Links</H2>

      <%= form_tag label_qrlinks_batch_path(@label), method: :post do %>
      <div>
        <%= text_area_tag(:to_urls, params[:to_urls], rows: 10, cols: 25) %>
      </div>  
        <%= submit_tag("Create", name: nil) %>
      
      <% end %>
  </section>


  <section>
    <%= link_to "Back to batch #{@label.batch.serialnumber}", @label.batch %>
 </section>
<main>


