 <h3>Edit tag '<%= @qrtag.code %>'</h3>


<%= form_with(model: @qrlink, url: qrtag_qrlinks_path(@qrtag), method: :post, builder: TailwindFormBuilder, class: "mt-6") do |form| %>
  
  <%= render 'shared/error_messages', object: form.object %>
  
  <div class="mb-4">
    <%= form.label :url %>
    <%= form.text_field :url%>
  </div>
   <div class="mb-4 flex space-x-4">
     <%= form.submit "Create Link" %>
     <%= form.cancel_button(label_search_path(@qrtag.label_id, q: @qrtag.code)) %>
  </div>
<% end %>
