<%= form_with(model: qrlink) do |form| %>
  <%= render 'shared/error_messages', object: form.object %>


  <div>
    <%= form.label :url, style: "display: block" %>
    <%= form.text_field :url %>
  </div>

  <div>

    <%= form.select(:qrcode_id, Qrcode.all.collect{ |m| [m.code, m.id] }, :prompt => 'Select') %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
