<% content_for :header do %>
    <h1>Qrcodes</h1>
    <h6>The <%= @qrcodes.load.count %> famous QR codes on the label of Coperniucs Beer</h6>
    <%= link_to "New qrcode", new_qrcode_path %>
<% end %>


<section id="qrcodes" class="mb-6">
  <H2>QR's</H2>
  <div class="grid grid-cols-3 grid-rows-8 gap-2 sm:grid-cols-4 sm:grid-rows-6 md:grid-cols-6 md:grid-rows-4 md:grid-rows-4 sm:grid-flow-col md:gap-4">
    <% @qrcodes.each do |qrcode| %>
      <%= link_to qrcode, class: "block max-w-sm p-6 bg-white border border-gray-800 shadow text-gray-900 hover:bg-gray-700  hover:text-white text-center" do %>
          <h4 class="mb-2 tracking-tight">
            <%= qrcode.code %>   
          </h4>
          <p class="font-normal text-gray-700">
            <%= button_to "Edit", edit_qrcode_path(qrcode) %>
             <%= button_to "Destroy", qrcode, method: :delete %>
          </p>
       <% end %>
    <% end %>
  </div>
<section>

  
