<%= form_with(model: batch, builder: TailwindFormBuilder, class: "mt-6") do |form| %>
  
  <%= render 'shared/error_messages', object: form.object %>
  
  <div class="mb-4">  
    <%= form.label :serialnumber %>
    <%= form.text_field :serialnumber %>
  </div>

  <div class="mb-4">  
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="mb-4">  
    <%= form.label :liters %>
    <%= form.number_field :liters %>
  </div>

  <div class="mb-4">  
    <%= form.submit value="Create Batch"%>
  </div>
<% end %>
