<p style="color: green"><%= notice %></p>

<header>
  <h1>Batches</h1>
  <p>Yummie all that Coperniucsbeer</p>
  <%= link_to "New batch", new_batch_path %>
</header>


<main id="batches">
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @batches.each do |batch| %>
      <tr>
        <td><%= link_to batch.serialnumber, batch %></td>
        <td><%= batch.description %></td>
        <td><%= "#{batch.liters} liters" %></td>  
      </tr>
    <% end %>
    </tbody>
  </table>
</main>

