<% content_for :header do %>
    <h1>Batches</h1>
    <h3>Yummie all that Coperniucsbeer</h3>
    <p><%= link_to "New batch", new_batch_path %></p>
<% end %>

<div class="table border-collapse table-auto w-full text-sm">
  <div class="table-header-group">
    <div class="table-row border-b dark:border-slate-600">
      <h6 class="table-cell text-left p-4 pl-8 pt-0 pb-3 ">#</h6>
      <h6 class="table-cell text-left p-4 pl-8 pt-0 pb-3 ">Description</h6>
      <h6 class="table-cell text-right p-4 pl-8 pt-0 pb-3 ">Capacity</h6>
    </div>
  </div>
  <div class="table-row-group">
    <% @batches.each do |batch| %>
      <%= link_to batch, class: "table-row border-b ease-in-out hover:bg-neutral-100 dark:border-neutral-500 dark:hover:bg-neutral-600" do %>
        <div class="table-cell px-6 py-4"><%= batch.serialnumber %></div>
        <div class="table-cell px-6 py-4"><%= batch.description %></div>
        <div class="table-cell px-6 py-4 text-right whitespace-nowrap"><%= batch.liters %> liters</div>
      <% end %>
    <% end %>
  </div>
</div>