<p style="color: green"><%= notice %></p>

<header>
  <h1>Batch <%= @batch.serialnumber %></h1>
  <p><%= @batch.description %></p>
  <%= link_to "Edit this batch", edit_batch_path(@batch) %> |
  <%= button_to "Destroy this batch", @batch, method: :delete %>
</header>

<main>
<%= render "batches/labels", batch: @batch %>

<%= link_to "Back to batches", batches_path %>
<main>
