<% content_for :header do %>
    <h1>Batch <%= @batch.serialnumber %></h1>
    <h3><%= @batch.description %></h3>
    <p>
      <%= link_to "Edit this batch", edit_batch_path(@batch) %> |
      <%= button_to "Destroy this batch", @batch, method: :delete %>
  </p>
<% end %>

<section>
  <%= render "batches/labels", batch: @batch %>
<section>
